<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Management</title>

    <link rel="stylesheet" href="./../css/style.css">
</head>
<body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">

    <div style="align-content: center; margin-left: 23em;">
        <nav style="display: flex;align-items: center; font-size: 20px;">
            <ul><a href="./../index.html" target="">WCE Sangli</a></ul>
            <ul><a href="./departments.html">Department Info</a></ul>
            <ul><a href="./signin.html">Register</a></ul>
            <ul><a href="./admin.html">Admin</a></ul>
        </nav>
    </div>
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                    
                           <h2 class="form-title" style="font-size: 20px;">Information Technology Department</h2>
                        <div class="content" style="font-size: 10px;">
                            <p>
                              Information Technology (IT) Department was established in 2001 with an Under-Graduate (UG) programme and then Post Graduate (PG) was started in 2012. Both UG and PG programmes are NBA accredited. The curriculum contains professional core courses, professional elective courses, open elective and professional elective has five tracks. 
                            </p>
                           
                        </div> 
                            
                     </div>       
                    <div class="signup-image">
                        <img src="http://www.walchandsangli.ac.in/Departments/InformationTechnology/IT-dept.png">
                    </div>
                </div>
            </div>
        </section>
</body>
</html>