<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faculty Management</title>

    <link rel="stylesheet" href="./../css/style.css">
</head>
<body style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">

    <div style="align-content: center; margin-left: 23em;">
        <nav style="display: flex;align-items: center; font-size: 20px;">
            <ul><a href="./../index.html" target="">WCE Sangli</a></ul>
            <ul><a href="./departments.html">Department Info</a></ul>
            <ul><a href="./signin.html">Register</a></ul>
            <ul><a href="./admin.html">Admin</a></ul>
        </nav>
    </div>
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                           <h2 class="form-title" style="font-size: 20px;">Electrical Engineering Department</h2>
                        <div class="content" style="font-size: 10px;">
                            <p>
                               Electrical Engineering Department of Walchand College of Engineering, Sangli has earned a great reputation and has become well known not only in our country, but also in the world through his alumni spread across the length and breadth of the globe. The Department was the second to be established in 1955 after Civil Engineering in 1947. Consequent to inception of the department, PG courses in two specializations, namely, Power System Engineering and Control System Engineering were started in the year 1971.
                            </p>
                            
                        </div> 
                    </div>
                    <div class="signup-image">
                        <img src="http://www.walchandsangli.ac.in/images/El_dept_img.jpg">
                    </div>
                </div>
            </div>
        </section>
</body>
</html>